{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/validaciones.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}">        -->
    <!-- <script src="../static/js/validaciones.js"></script> -->
    <title>Nuestro trabajo</title>
</head>
<body>
    <div class="container-fluid">
      <div class="row" id="header">
        <div class="col-3" id="colLogo">
            <!-- logo -->
            <img src="https://cdn.discordapp.com/attachments/830083358176444490/832087641126207498/rasho.jpg" alt="Logo rayo mc Queen" id="logoMC">
        </div>
        <div class="col-9" id="menubar">
            <!-- menubar -->
              <nav class="navbar navbar-expand-lg navbar-light bg-light" id=navbar>
                <a class="navbar-brand" href="#" id="opcion"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="index.html">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="atenciones.html">Nuestro trabajo</a>
                    </li>
                    <li class="nav-item">
                      <button type="button" id="btnFloatingW" class="btn btn-primary"data-toggle="modal" data-target="#loginModal" data-whatever="@mdo">Login</button>
                    </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                  </form>
                </div>
              </nav>
        </div>
    </div>
        <div class="row" id="opciones">
            <div class="col-3">
              <button type="button" id="btnFloatingW" class="btn btn-primary"data-toggle="modal" data-target="#atencionModal" data-whatever="@mdo">Agregar Atención</button>
            </div>
            <div class="col-3">
                <a href="">Filtrar Mecanico</a>
            </div>
            <div class="col-3">
                <a href="">Filtrar Categoria</a>
            </div>
            <div class="col-6">
            </div>
        </div>
        

        <!-- <button id="btnCargar" onclick='generarTablaTrabajador();'>Cargar datos</button> -->

        <!-- inicio atenciones  -->
        <!--https://www.youtube.com/watch?v=dOhfuLnWvpU-->
        <!--https://www.youtube.com/watch?v=fI-VZwIFtwI-->
        <table class=".tablesorter" id="atenciones" cellspacing="0px" bgcolor="ffffff" cellpadding="10px 0px 0px 0p" border="1" width="100%" style="margin:50px 50px 0px 0px">
          <thead>
            <tr>
              <th>Imagén</th>
              <th>Nombre Mecánico</th>
              <th>Descripción</th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody id="contenedorTablaTrabajadores">
            <!--En este espacio contendrá la tabla generada-->
          </tbody>
        </table>
        
        <!-- footer -->
        <div class="footer-basic" id="footer">
          <footer>
            <!-- <div class="social"><a href="#"><i class="icon ion-social-instagram"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-facebook"></i></a></div> -->
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#">Instagram</a></li>
              <li class="list-inline-item"><a href="#">Facebook</a></li>
              <li class="list-inline-item"><a href="#">Acerca de Nosotros</a></li>
              <li class="list-inline-item"><a href="#">Terminos y Condiciones</a></li>
              <button type="button" id="btnFloatingW" class="btn btn-primary" data-toggle="modal" data-target="#contactoModal" data-whatever="@mdo">Formulario Contacto</button>
          
            </ul>
            <p class="copyright">Rayo McQueen Ltda © 2021</p>
          </footer>
        </div>
  </div>

  <!-- Agregar Atención -->
  <div class="modal fade" id="atencionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Agregar Atención</h5>
          <button type="button" class="close" onclick="limpiarFormAt();" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="POST" id="formAtencion">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Titulo</label>
              <input type="text" required class="form-control" id="tituloAt">
              <div class="invalid-feedback" id="errorTitulo"></div>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Fecha de atencion</label>
              <input type="date" required class="form-control" max="2021-05-20" min="2021-01-01" id="fechaAt">
              <div class="invalid-feedback" id="errorFecha"></div>
            </div>
            <div class="form-group">
              <table class=".tableselects" cellspacing="10px" bgcolor="ffffff" cellpadding="10px 0px 0px 0p" width="100%">
              <thead>
                <tr>
                  <th>Tipo vehículo</th>
                  <th>Marca vehículo</th>
                  <th>Modelo vehículo</th>
                </tr>
              </thead>
              <tbody id="contenedorTablaTrabajadores">
                <tr>
                  <td>
                    <select class="col-form-label" id="selectTiposAuto" name="selectTipo">
                      <!--En este espacio contendrá las opciones generadas-->
                    </select>
                    <div class="invalid-feedback" id="errorselectTipo"></div>
                  </td>
                  <td>
                    <select class="col-form-label" id="selectMarcaAuto">
                      <!--En este espacio contendrá las opciones generadas-->
                    </select>
                    <div class="invalid-feedback" id="errorselectMarcaAuto"></div>
                  </td>
                  <td>
                    <select class="col-form-label" id="selectModeloAuto">
                      <!--En este espacio contendrá las opciones generadas-->
                    </select>
                    <div class="invalid-feedback" id="errorselectModeloAuto"></div>
                  </td>
                </tr>
              </tbody>
            </table>
            </div>
            
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Tipo de atención</label>
              <!--<input type="text" required class="form-control" id="tipoAt">-->
              <select class="col-form-label" id="tipoAt">
                <option selected value='defaultOption'>Elige un tipo</option>
                  <optgroup label="Servicios Básicos">
                    <option selected value='basico_cambioaceite'>Cambio de aceite</option>
                    <option selected value='basico_cambioneumatico'>Cambio de neumático</option>
                    <option selected value='basico_neumaticopinchado'>Neumático pinchado</option>
                  </optgroup>
                  <optgroup label="Reparaciones">
                    <option selected value='reparacion_frenos'>Reparación de frenos</option>
                    <option selected value='reparacion_parachoque'>Reparación parachoques</option>
                    <option selected value='reparacion_parachoque'>Reparacion </option>
                  </optgroup>
                  <optgroup label="Pintura">
                    <option selected value='pintura_parachoque'>Parachoque</option>
                    <option selected value='pintura_puerta'>Puerta</option>
                    <option selected value='pintura_autocompleto'>Auto completo</option>
                  </optgroup>
              </select>
              <div class="invalid-feedback" id="errorTipo"></div>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Descripcion</label>
              <textarea class="form-control" required id="descripcionAt"></textarea>
              <div class="invalid-feedback" id="errorDescripcion"></div>
            </div>
            <button type="submit" class="btn btn-primary">Subir atención</button>
          </form>
        </div>
        <div class="modal-footer">     
        </div>
      </div>
    </div>
  </div>

  <!-- login flotante -->
  <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" onClick='limpiarForm();' class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- <form action="" method="POST" id="formLogReg"> -->
            <div class="row">
              <div class="col-6">
                <h5>Registro</h5>
              </div>
              <div class="col-6">
                <h5>Inicio de Sesión</h5>
              </div>
            </div>
            <hr>
            <div class="row">

              <!-- Registrarse -->
              <div class="col-6">
                <form action="" method="POST" id="formReg">
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Nombre</label>
                    <input type="text" required class="form-control" id="nombreReg">
                    <div class="invalid-feedback" id="errorNombre"></div>
                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Correo Electrónico</label>
                    <input type="email" required class="form-control" id="correoReg">
                    <div class="invalid-feedback" id="errorEmail"></div>

                  </div>
                  <div class="form-group">
                    <label for="message-text" class="col-form-label">Constraseña</label>
                    <input type="password" required class="form-control" id="contraReg">
                    <div class="invalid-feedback" id="errorPass"></div>

                  </div>
                  <button class="btn btn-primary" type="submit" id="btnReg">Registrarse</button>
                </form>  
              </div>

              <!-- inicio sesion -->
              <div class="col-6">
                <form action="" method="POST" id="formLog">
                  <div class="form-group">
                    <label for="correoLog" class="col-form-label">Correo Electrónico</label>
                    <input type="email" required class="form-control" id="correoLog">
                    <div class="invalid-feedback" id="errorEmailL"></div>
                  </div>
                  <div class="form-group">
                    <label for="contraLog" class="col-form-label">Contraseña</label>
                    <input type="password" required class="form-control" id="contraLog">
                    <div class="invalid-feedback" id="errorPassL"></div>

                  </div>                
                  <button class="btn btn-primary" type="submit" id="btnLog">Iniciar Sesión</button>
                </form>
              </div>    
            </div> 
        </div>
      </div>
    </div>
  </div>


  <!-- form contacto -->
  <div class="modal fade" id="contactoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Formulario de Contacto</h5>
          <button type="button" class="close" data-dismiss="modal" onclick="limpiarFormCont();" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="" method="" id="formCont">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Nombre de Contacto</label>
              <input type="text" class="form-control" id="nombreCont">
              <div class="invalid-feedback" id="errorNombreC"></div>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Email de Contacto</label>
              <input type="Email" class="form-control" id="correoCont">
              <div class="invalid-feedback" id="errorEmailC"></div>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Celular de Contacto</label>
              <input type="text" class="form-control" id="telefonoCont">
              <div class="invalid-feedback" id="errorTelefonoC"></div>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Asunto</label>
              <input type="text" class="form-control" id="asuntoCont">
              <div class="invalid-feedback" id="errorAsuntoC"></div>
            </div>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Mensaje</label>
              <textarea class="form-control" id="mensajeCont"></textarea>
              <div class="invalid-feedback" id="errorMensajeC"></div>
            </div>
            <button type="button" class="btn btn-primary" id="btnEnvCont" onClick="sendEmail();">Enviar Solicitud</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- scripts -->
  {% bootstrap_javascript jquery='full' %}
    <!-- <script src="../static/js/validaciones.js"></script>
    <script src="../static/js/jquery-3.6.0.js"></script>
    <script src="../static/js/jquery.tablesorter.js"></script> -->
    <script src="../static/js/httpRequest.js"></script>
    <script src="../static/js/tablas.js"></script>
    <!-- <script src="../static/js/bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script> -->
  
</body>
</html>               
